/* Add New Modal */
.add-new-modal {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}
  
  .add-new-modal h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* טופס בתוך Modal */
  .form-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* יצירת ארבע עמודות */
    gap: 20px;
  }
  
  .form-grid label {
    font-size: 1rem;
    font-weight: bold;
    color: #444;
  }
  
  .form-grid input,
  .form-grid textarea,
  .form-grid select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    width: 100%;
  }
  
  .form-grid textarea {
    padding: 10px;
  }
  
  .form-grid select {
    padding: 10px;
  }
  
  .form-grid input[type="checkbox"] {
    width: auto;
    margin: 0;
  }
  
  /* כפתורי Modal */
  .form-actions {
    display: flex;
    justify-content: left;
  }
  
  .form-actions button {
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .form-actions button[type="submit"] {
    background-color: #4CAF50;
    color: white;
  }
  
  .form-actions button[type="submit"]:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .form-actions button[type="submit"]:not([disabled]):hover {
    background-color: #45a049;
  }
  
  .form-actions button[type="button"] {
    background-color: #f67d74;
    color: white;
  }
  
  .form-actions button[type="button"]:hover {
    background-color: #e53935;
  }
  /* רשת טופס */
.grid {
    display: grid;
    gap: 20px;
  }
  
  .grid label {
    font-size: 1rem;
    font-weight: bold;
    color: var(--text-color);
  }
  
  .grid input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    width: 100%;
  }
  
  .grid input:focus {
    border-color: var(--button-bg-color);
    box-shadow: 0 0 8px rgba(72, 160, 107, 0.2);
  }
  
  /* כפתורי טופס */
  .form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  