/* .add-friend-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.95);
    padding: 30px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.05);
    z-index: 1000;
    border-radius: 16px;
    width: 80%;
    max-width: 400px;
  }
  
  .add-friend-modal h2 {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
    font-weight: 600;
  }
  
  .add-friend-modal label {
    font-size: 1rem;
    color: #555;
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  .add-friend-modal input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 1rem;
    background-color: rgba(240, 240, 240, 0.6);
    outline: none;
    transition: border 0.2s ease-in-out;
  }
  
  .add-friend-modal input[type="text"]:focus {
    border: 1px solid #007aff;
  }
  
  .add-friend-modal button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-friend-modal button:hover {
    background-color: #218838;
  }
  .div-addFriend{
    justify-self: center;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 10px 20px;
  color: #1c1c1e;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  } */