/* Base Container */
html, body {
  height: 100%; /* חשוב כדי שגובה הדף יכסה את המסך */
  margin: 0;
}

.base-manager-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f3f3f5;
    border-radius: 10px;
  }
  
  /* Section Headers */
  .section-header {
    display: flex;
    align-items: center;
    color: #333;
    font-size: 1.6rem;
    font-weight: 600;
    background-color: #cbf8e5;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }
  .section-header-manager {
    display: flex;
    align-items: center;
    color: #333;
    font-size: 1.6rem;
    font-weight: 600;
    background-color: #cbf8e5;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
  width: 12%;
margin-top: 30px; }
  
  /* Footer */
  .footer {
    display: flex;
    justify-content: space-between; /* יישור כפתורים וטקסט */
    align-items: center;
    color: #333;
    font-size: 1.4rem;
    font-weight: 600;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    direction: ltr;
  }
  
  /* Edit Form */
  .edit-form {
    position: fixed;
    top: 25%;
    left: 25%;
    width: 50%;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .edit-form label {
    display: block;
    margin-bottom: 10px;
    color: #444;
  }
  
  .edit-form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 25px;
    border: 2px solid #ccc;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .edit-form input:focus {
    border-color: #4caf50;
    box-shadow: 0 0 8px rgba(72, 160, 107, 0.2);
  }
  
  .edit-form button {
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .edit-form button:hover {
    background-color: #45a049;
  }
  .search-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 30%;
    margin-left: 10px;
  }
  
/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* תיבת עריכה */
.edit-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: var(--box-shadow);
  z-index: 1000;
  max-width: 60%;
  width: 90%;
  font-family: Arial, sans-serif;
}

.edit-modal h2 {
  text-align: center;
  margin-bottom: 20px;
}
