/* Buttons Styles */
.add-button {
  background-color: #4caf50;
  color: #ffffff;
  padding: 12px;
  font-size: 1rem;
  border: 2px solid #4caf50;
  border-radius: 25px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease; /* נוסיף מעבר חלק לכל השפעה */
}

.add-button:hover {
  background-color: #45a049;
  color: #ffffff;
  transform: scale(1.05); /* אנימציה של הגדלה */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* הצללה */
}

.add-button:active {
  transform: scale(0.98); /* אנימציה של צמצום */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* הצללה קטנה יותר */
}

.edit-button {
  background-color: #0071e3;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.3s ease;
}

.edit-button:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  background-color: #2390fc;
}
.edit-button:active {
  transform: scale(0.98);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.delete-button {
  background-color: #b2362d;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.3s ease;
}

.delete-button:hover {
  background-color: #e53935;
  transform: scale(1.05); /* הוספה של התנועה רק במצב hover */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.delete-button:active {
  transform: scale(0.98);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Input Styles */
.search-container input,
.edit-form input {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  border-radius: 25px;
  border: 2px solid #ccc;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  margin-left: 5px;
}

.search-container input:hover,
.edit-form input:hover,
.search-container input:focus,
.edit-form input:focus {
  border-color: #4caf50;

  box-shadow: 0 0 8px rgba(72, 160, 107, 0.2);
  transform: scale(1.05); /* הגדלה קטנה */
}

input::placeholder {
  font-style: italic;
  color: #474d47;
  font-size: 14px;
}

/* Buttons in Edit Form */
.edit-form button {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-form button:hover {
  background-color: #45a049;
}
.edit-icon {
  size: 30px;
}
.sort-select {
  background-color: #ffffff;
  color: #4caf50;
  padding: 12px;
  font-size: 1rem;
  border: 2px solid #4caf50;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.3s ease;
  margin-left: 10px;
}

.sort-select:hover {
  background-color: #4caf50;
  color: #ffffff;
  transform: scale(1.05);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.sort-select:active {
  transform: scale(0.98);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .sort-select {
    font-size: 1.2rem;
    padding: 14px;
  }
}
